# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
env/
venv/
.venv/
*.env

# PyTorch model files (optional if you don't want to track large models)

*.pt

# OS files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Logs
*.log


# Ignore deployment outputs
*.pyc
